<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理系统</title>
</head>
<body>
    <h1>添加用户</h1>
    {{ error }}
    <form action="/user/add/" method="POST">
        {% csrf_token %}
        <label>用户名：</label><input type="text" name="username" value="{{ username }}"/><br/><br/>
        <label>密码：</label><input type="password" name="password" value="{{ password }}"/><br/><br/>
        <label>电话号码：</label><input type="text" name="tel" value="{{ tel }}"/><br/><br/>
        <label>年龄：</label><input type="text" name="age" value="{{ age }}"/><br/><br/>
        <input type="submit" value="编辑"/><br/><br/>
    </form>
    <a href="/user/list/">返回主界面</a>
</body>
</html>